<div class="user-profile-page">
<h3>Your Profile</h3>

<ul>
  <li>Username: <%= @user.username %></li>
  <li>Company Name: <%= @user.company_name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @user.password %> cm</li>
</ul>

