<div class="profile-page">
<h3 class="profile-header">YOUR PROFILE</h3>

<ul>
  <li class="profile-field"><span class="profile-field-names">Username:</span> <%= @user.username %></li>
  <li class="profile-field"><span class="profile-field-names">Company Name:</span> <%= @user.company_name %></li>
  <li class="profile-field"><span class="profile-field-names">Email:</span> <%= @user.email %></li>
  <li class="profile-field"><span class="profile-field-names">Password:</span> <%= @user.password %> cm</li>
  <li class="profile-field"><span class="profile-field-names"><a id="add-shop-link" href="#">ADD SHOP</a></span></li>
</ul>

