<div class="profile-page">
<h3 class="profile-header">YOUR PROFILE</h3>

<ul>
  <li><span class="profile-field-names">Username:</span> <%= @user.username %></li>
  <li><span class="profile-field-names">Company Name:</span> <%= @user.company_name %></li>
  <li><span class="profile-field-names">Email:</span> <%= @user.email %></li>
  <li><span class="profile-field-names">Password:</span> <%= @user.password %> cm</li>
</ul>

