/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #main-wrapper {
  width: 936px;
  margin: auto;
 }

 #logo {
  display: inline-block;
 }

 #nav-wrapper ul {
  display: inline-block;
  width: 430px;
  float: right;
  position: relative;
  top: 20px;
 }

 #nav-wrapper h1 {
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  color: #00D2B4;
  position: relative;
  bottom: 17px;
  margin-left: 10px;
 }

 #nav-wrapper ul li {
  list-style-type: none;
  float: left;
  font-size: 1.5rem;
  margin-right: 5%;
  font-family: 'Dosis', sans-serif;
 }

 #nav-wrapper ul li a {
  text-decoration: none;
  color: #204056;
 }
